body{
    background-color: hsl(212, 45%, 89%);
    justify-content: center;
    margin-top: 3%;
}
.container{
    display: inline-flexbox;
    justify-content: center;
    width: 330px;
    height: 460px;
    border-radius: 4%;
    background-color: hsl(0, 0%, 100%);
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 0.3%;
}
img{
    width: 302px;
    height: 287px;
    border-radius: 7%;
    padding-left: 3.5%;
    padding-right: 3.5%;
}
.container .box h2{
    color: hsl(218, 44%, 22%);
    font-family: "outfit", sans-serif;
    margin-left: 10%;
    font-weight: 700;
    font-size: 20px;
    padding-right: 12%;
    padding-left: 3%; 
}
.container p{
    margin-top: 3%;
    margin-left: 13%;
    margin-right: 12%;
    font-size: 14px;
    color: hsl(220, 15%, 55%);
    font-family: "outfit", sans-serif;
}
